.section {
    width: 90%;
    min-height: 90vh;
}
.article {
    padding: 50px;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

.table {
    margin-top: 50px;
}

.rangeWrapper {
    margin: 30px 0;
    display: flex;
    width: 80%;
    float: right;
    justify-content: flex-end;
}