.updated {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.updatedBtnWrapper {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.updatedBtn {
    font-size: 10px;
    height: 20px;
    min-width: 15px;
    box-shadow: none;
    opacity: .5;
}

.updatedBtn:hover {
    border: none;
    box-shadow: none;
    opacity: 1;
}