.error {
    bottom: 113px;
}

.avatar {
    text-align: center;
    padding-bottom: 10px;
}

.avatar img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.info {
    padding-bottom: 10px;
    padding-left: 10px;
    color: #555555;
}

.btnWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}