.remember {
    margin-bottom: 15px;
    padding-left: 2px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #777777;
}

.checkbox {
    float: left;
    margin-left: 10px;
}

.checkboxRemember {
    width: 200px;
    float: left;
    margin-top: 10px;
}

.button {
    margin-left: 55px;
}

.reset {
    padding-top: 20px;
    text-align: center;
    font-size: .7rem;
    font-weight: bold;
    color: white;
}

.reset a {
    text-decoration: none;
    color: white;
    opacity: .7;
}

.reset a:hover {
    opacity: 1;
}

.error {
    position: absolute;
    font-size: 16px;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 5px;
    padding: 5px 0;
    color: red;
    font-family: Bahnschrift, sans-serif;
    font-weight: bold;
}
