.wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.section {
    margin: 0 auto;
    padding: 34px 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.article {
    background-color: white;
    border: 9px solid #56a1be;
    margin: 0 auto;
    padding-bottom: 15px;
}

.form {
    margin: 25px 10px;
}

.form > div:last-child {
    text-align: right;
}

.article h3 {
    height: 29px;
    background-color: #f5f7f8;
    text-align: center;
    border-bottom: 1px solid #CFCFCF;
    color: #555555;
    margin-top: 0;
    padding-top: 11px;
}

.input {
    width: 300px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    box-shadow: 0 0 1px 5px #f1f4f7;
    outline: none;
    margin: 10px 10px 30px 10px;
    padding: 10px 10px;
    font-size: 0.75rem;
    color: black;
}

.button {
    min-width: 70px;
    padding: 0 10px;
    height: 30px;
    background: #dcebf2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7fbfd), to(#d2e6ef));
    background: -moz-linear-gradient(top, #f7fbfd, #d2e6ef);
    background-image: -o-linear-gradient(top, #f7fbfd, #d2e6ef);
    border: 1px solid #bbcccf;
    box-shadow: 0 0 2px 1px #dee4e9;
    border-radius: 15px;
    color: #5b7780;
    cursor: pointer
}

.button:hover {
    box-shadow: 0 0 2px 3px #dee4e9;
    background: #dcebf2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7fbfd), to(#d2e6ef));
    background: -moz-linear-gradient(top, #f7fbfd, #d2e6ef);
    background-image: -o-linear-gradient(top, #f7fbfd, #d2e6ef);
    border: 1px solid #bbcccf;
    border-radius: 15px;
    color: #5b7780;
}

.button:after {
    background: inherit;
}

.error {
    position: absolute;
    font-size: 14px;
    text-align: center;
    width: 100%;
    left: 0;
    padding: 5px 0;
    color: red;
    font-family: Bahnschrift, sans-serif;
}

.disabled {
    opacity: .5;
}

.table {
    margin: 20px auto;
}

.table th {
    padding: 10px 0;
    background-color: #56a1be;
    color: white;
    font-size: 18px;
}

.table tr, td {
    max-width: 200px;
    width: 200px;
    word-wrap: break-word;
}

.table tr:nth-child(even) {
    background-color: #d7ecf6;
}

.table tr:nth-child(odd) {
    background-color: #f2f8fc;
}


