.select {
    appearance: none;
    min-width: 150px;
    min-height: 25px;
    outline: none;
    border: none;
    border-bottom: 3px solid dodgerblue;
    background: url("editIcon.png") 98%/20px no-repeat;
    border-radius: 5px;
    margin: 5px;
    font-family: Bahnschrift, sans-serif;
    font-size: 16px;
    text-align: center;
}

.options {
    background: black;
    color: #61dafb;
}

.options:checked {
    background-color: darkolivegreen;
}