.error {
    position: absolute;
    font-size: 14px;
    text-align: center;
    width: 100%;
    left: 0;
    top: 310px;
    padding: 5px 0;
    color: red;
    font-family: Bahnschrift, sans-serif;
}

.btnWrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    gap: 10px;
}

.btnWrapper a {
    text-decoration: none;
    color: #5b7780;
}