.error {
    position: absolute;
    font-size: 14px;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 5px;
    padding: 5px 0;
    color: red;
    font-family: Bahnschrift, sans-serif;
    font-weight: bold;
}
