.pagesWrapper {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  justify-content: center;
  font-family: Bahnschrift, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #94c5de;
}

.pageList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.currentPage {
  color: #0b678a;
  font-size: 28px;
  user-select: none;
}

.page {
  cursor: pointer;
  user-select: none;
}

.page:hover {
  color: #0b678a;
}